.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.logoIF {
  height: 64px;
  width: auto;
}

.address {
  color: #555;
  text-align: center;
}


.developer {
  color: #ccc;
  display: none;
}

.credits {
  display: none;
}

.imagesBg {
  display: none;
}

@media (min-width:992px) {
  .logoIF {
    height: 80px;
    width: auto;
  }

  .credits {
    display: flex;
  }

  .imagesBg {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    z-index: -1;
    width: 98vw;
    padding: 16px;
  }

  .girlScientist,
  .boyScientist {
    width: calc(100vw / 4.5);
    height: auto;
  }

  .girlScientist {
    transform: scaleX(-1);
  }
}